 <?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Author</key>
		<string>Machinee</string>
		<key>Year</key>
		<string>2018</string>
		<key>Description</key>
		<string>Mac OS Classic</string>
		<key>Theme</key>
		<dict>
			<key>Origination</key>
			<dict>
			    <key>DesignWidth</key>
			    <integer>2560</integer>
			    <key>DesignHeight</key>
			    <integer>1440</integer>
			</dict>
			<key>Background</key>
			<dict>
				<key>Path</key>
				<string>background.png</string>
				<key>Type</key>
				<string>Tile</string>
			</dict>
			<key>Badges</key>
			<dict>
				<key>Show</key>
				<false/>
				<key>Swap</key>
				<true/>
				<key>Inline</key>
				<false/>
			</dict>
			<key>Font</key>
			<dict>
				<key>Path</key>
				<string>font.png</string>
				<key>Type</key>
				<string>Load</string>
				<key>CharWidth</key>
				<integer>13</integer>
			</dict>
			<key>Scroll</key>
			<dict>
			    <key>Width</key>
			    <integer>16</integer>
			</dict>
			<key>Selection</key>
			<dict>
				<key>Big</key>
				<string>selection_big.png</string>
				<key>Color</key>
				<string>0xFEFEFAFF</string>
				<key>Small</key>
				<string>selection_small.png</string>
				<key>OnTop</key>
				<false/>
				<key>ChangeNonSelectedGrey</key>
				<true/>
			</dict>
			<key>Layout</key>
			<dict>
			    <key>BannerOffset</key>
			    <integer>40</integer>
			    <key>ButtonOffset</key>
			    <integer>25</integer>
			    <key>TextOffset</key>
			    <integer>20</integer>
			    <key>TileXSpace</key>
			    <integer>8</integer>
			    <key>TileYSpace</key>
			    <integer>20</integer>
			</dict>
		<key>Anime</key>
		<array>
		    <dict>
		        <key>ID</key>
		        <integer>1</integer>
		        <key>Path</key>
		        <string>logo_3D</string>
		        <key>Frames</key>
		        <integer>45</integer>
		        <key>FrameTime</key>
		        <integer>33</integer>
		        <key>Once</key>
		        <false/>
		    </dict>
		</array>
	</dict>
</dict>
</plist>
